{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Enter new password" %}{% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center px-5 py-5">
  {% if validlink %}
    <h1>{% trans "Set a new password!" %}</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Change my password">
    </form>
  
  {% else %}
  
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    
  {% endif %}
</div>

{% endblock %}
