html,
body,
header,
.carousel {
    height: 60vh;
}

@media (max-width: 740px) {

    html,
    body,
    header,
    .carousel {
    height: 100vh;
    }
}

@media (min-width: 800px) and (max-width: 850px) {

    html,
    body,
    header,
    .carousel {
    height: 100vh;
    }
}
.main {
    margin-top: 64px;
}
body {
    background-color: #f5f5f5;
}
img {
    min-height:100%;
    min-width:100%;
    object-fit: cover;
}



/* ---------- Home page ----------*/
.item-img {
    height: 230px;
    position: relative;
    display: block;
    overflow: hidden;
}
.bookmark-container {
    position: absolute;
    right: 0;
    top: -3px;
    z-index: 1;
    text-align: center;
    padding-top: 10px;
    padding-right: 2px;
}
.bookmark {
    position: absolute;
    right: 0px;
    top: 0;
    z-index: -1;
    color: #fcd536
}
.bookmark__sale {
    text-align: center;
    line-height: .9125rem;
    text-transform: uppercase;

}
.sale-number {
    color: #ee4d2d;
    font-size: 1rem;
}
.sale-text {
    color: #ffffff;
    font-size: .75rem;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
.item-price_before {
    color: rgba(0,0,0,.54);
    margin-right: 5px;
    font-size: 0.9rem;
}
.item-price_current {
    font-size: 1rem;
    color: #ee4d2d;
}
.card-body .item-title {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
    text-align: left;
    margin-bottom: 0.5rem;
    height: 2.4rem;
    line-height: 1.2rem;
}
.price-filter-menu {
    width: 300px;
}
.category-filter {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.84rem 2.14rem;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0.375rem;
    border: 0;
    border-radius: 0.125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: inherit;
    background-color: transparent;
}

/* --------------------------------------*/






/* ---------- Product detail ----------*/
.product-detail .product-title {
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1.25rem;
    overflow-wrap: break-word;
}

.product-general {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.product-general .Flex-item {
    align-items: center;
}
.product-price {
    background-color: #f5f5f5;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
.product-price_before {
    color: rgba(0,0,0,.54);
    margin-right: 10px;
    font-size: 1rem;
}
.product-price_current {
    font-size: 1.875rem;
    font-weight: 500;
    color: #ee4d2d;
}
.sale-percent {
    margin-left: 15px;
    font-size: .75rem;
    color: #fff;
    text-transform: uppercase;
    background: #ee4d2d;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}
/* --------------------------------------*/

.btn-link {
    border: none !important;
    outline: none !important;
    background: none;
    cursor: pointer;
    color: black;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}
