{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block content %}
  <main>
    <div class="container">

      <!--Search and filter-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
        <div class="collapse navbar-collapse" id="basicExampleNav">
          <form class="form-inline">

            <!--Category filtering-->
            <select name="category" class="form-select ml-auto category-filter">
              <option value="">{% trans "Categories" %}</option>
              {% for category in category_choices %}
                {% if category.0 == category_option %}
                  <option selected value="{{ category.0 }}">{{ category.1 }}</option>
                {% else %}
                  <option value="{{ category.0 }}">{{ category.1 }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <!--End category filtering-->

            <!--Price filtering-->
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownPriceButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Price" %"
              </button>
              <div class="dropdown-menu price-filter-menu" aria-labelledby="dropdownPriceButton">
                <div class="dropdown-item">
                  <div class="input-group mb-3">
                    <input name="price_from" type="number" class="form-control"
                           placeholder="{% trans 'From' %}" aria-describedby="price-from" value="{{price_from}}">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price-from">$</span>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <input name="price_to" type="number" class="form-control"
                           placeholder="{% trans 'To' %}" aria-describedby="price-to" value="{{price_to}}">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price-to">$</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End price filtering-->

            <!--Star filtering-->
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownStarButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Star" %}
              </button>
              <div class="dropdown-menu price-filter-menu" aria-labelledby="dropdownStarButton">
                <div class="dropdown-item">
                  <div class="input-group mb-3">
                    <input name="star_from" type="number" min="1" max="5"
                           class="form-control" placeholder="{% trans 'From' %}" aria-describedby="star-from"
                           value="star_from">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="star-from">
                        <i class="fas fa-star"></i>
                      </span>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <input name="star_to" type="number" min="1" max="5" class="form-control"
                           placeholder="{% trans 'To' %}" aria-describedby="star-to" value="star_to">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="star-to">
                        <i class="fas fa-star"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End price filtering-->

            <!--Sorting-->
            <select name="sort" class="form-select ml-auto category-filter">
              <option value="">{% trans "Sort" %}</option>
              {% for option in sort_choices %}
                {% if forloop.counter0 == sort %}
                  <option value="{{forloop.counter0}}" selected>{{option.text}}</option>
                {% else %}
                  <option value="{{forloop.counter0}}">{{option.text}}</option>
                {% endif %}
              {% endfor %}
            </select>
            <!--End sorting-->

            <!--Name-->
            <div class="md-form my-0">
              <input name="name" class="form-control mr-sm-2" type="text"
                     placeholder="{% trans 'Product name' %}" value="{% if product_name %} {{product_name}} {% endif %}">
            </div>
            <!--End name-->

            <button type="submit" class="btn btn-primary float-right rounded-pill">{% trans "Search" %}</button>
          </form>
        </div>
      </nav>
      <!--/.Search and filter-->


      <!--Section: Item list-->
      <section class="text-center mb-4">
        <div class="row wow fadeIn">
          {% for item in object_list %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="view overlay item-img">
                {% if item.discount_price %}
                  <div class="bookmark-container">
                    <i class="fas fa-bookmark fa-3x bookmark"></i>
                    <div class="bookmark__sale sale-number">{{ item.discount_percent|floatformat:"0" }}%</div>
                    <div class="bookmark__sale sale-text">{% trans "Off" %}</div>
                  </div>
                {% endif %}
                <img src="{{ item.image.url }}" class="card-img-top">
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body text-center">
                <a href="{{ item.get_absolute_url }}" class="dark-grey-text item-title">
                  <h7>{{ item.title }}</h7>
                </a>
                <div class="star-rating">
                  <ul class="list-inline">
                    {% for i in '12345'|make_list %}
                      {% with i=i|add:"0" %}
                      {% if item.overall >= i %}
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                      {% elif item.round_up_overall >= i %}
                        <li class="list-inline-item"><i class="fas fa-star-half-alt"></i></li>
                      {% else %}
                        <li class="list-inline-item"><i class="far fa-star"></i></li>
                      {% endif %}
                      {% endwith %}
                    {% endfor %}
                  </ul>
                </div>
                <p class="item-price">
                  {% if item.discount_price %}
                  <del class="item-price_before">{% trans "$" %}{{ item.price|floatformat:"0"|intcomma }}</del>
                  <b class="item-price_current">{% trans "$" %}{{ item.discount_price|floatformat:"0"|intcomma }}</b>
                  {% else %}
                  <b class="item-price_current">{% trans "$" %}{{ item.price|floatformat:"0"|intcomma }}</b>
                  {% endif %}
                </p>
                <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary rounded-pill btn-sm">{% trans "Add to Cart" %}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </section>
      <!--Section: Item list-->

      <!--Pagination-->
      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">{% trans "Previous" %}</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">{% trans "Next" %}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </main>

{% endblock content %}
