{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block content %}
  <main>
    <div class="container">
      <h2 class="my-5 h2 text-center">{% trans "My Favorite" %}</h2>
      <!--Section: Item list-->
      <section class="text-center mb-4">
        <div class="row wow fadeIn">
          {% for item in object_list %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="view overlay item-img">
                {% if item.item.discount_price %}
                  <div class="bookmark-container">
                    <i class="fas fa-bookmark fa-3x bookmark"></i>
                    <div class="bookmark__sale sale-number">{{ item.item.discount_percent|floatformat:"0" }}%</div>
                    <div class="bookmark__sale sale-text">{% trans "Off" %}</div>
                  </div>
                {% endif %}
                <img src="{{ item.item.image.url }}" class="card-img-top">
                <a href="{{ item.item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body text-center">
                <a href="{{ item.item.get_absolute_url }}" class="dark-grey-text item-title">
                  <h7>{{ item.item.title }}</h7>
                </a>
                <div class="star-rating">
                  <ul class="list-inline">
                    {% for i in '12345'|make_list %}
                      {% with i=i|add:"0" %}
                      {% if item.item.overall >= i %}
                        <li class="list-inline-item"><i class="fas fa-star"></i></li>
                      {% elif item.item.round_up_overall >= i %}
                        <li class="list-inline-item"><i class="fas fa-star-half-alt"></i></li>
                      {% else %}
                        <li class="list-inline-item"><i class="far fa-star"></i></li>
                      {% endif %}
                      {% endwith %}
                    {% endfor %}
                  </ul>
                </div>
                <p class="item-price">
                  {% if item.item.discount_price %}
                  <del class="item-price_before">{% trans "$" %}{{ item.item.price|floatformat:"0"|intcomma }}</del>
                  <b class="item-price_current">{% trans "$" %}{{ item.item.discount_price|floatformat:"0"|intcomma }}</b>
                  {% else %}
                  <b class="item-price_current">{% trans "$" %}{{ item.item.price|floatformat:"0"|intcomma }}</b>
                  {% endif %}
                </p>
                <div class="d-flex justify-content-around align-items-center" data-like-url="{% url 'app:like_item' %}">
                  <a href="{{ item.item.get_add_to_cart_url }}" class="btn btn-primary rounded-pill btn-sm">{% trans "Add to Cart" %}</a>
                  <a class="d-flex flex-column-reverse align-items-center like-button text-danger liked m-3 h6" data-item-slug="{{ item.item.slug }}">{% trans "Liked " %}<i class="fas fa-thumbs-up m-1"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </section>
      <!--Section: Item list-->

      <!--Pagination-->
      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">{% trans "Previous" %}</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">{% trans "Next" %}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </main>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/like_handler.js' %}"></script>
{% endblock content %}
